In [1]:
import pandas as pd
import numpy as np
import requests

from pandas.io.json import json_normalize

In [2]:
toronto_area = pd.read_excel('data/Toronto_Wards_Area.xlsx')

In [3]:
toronto_area_clean = toronto_area.rename(columns={'City of Toronto Profiles':'Ward_ID', 'Unnamed: 1':'Area (km^2)'})
toronto_area_clean.drop(list(np.arange(0,11)), inplace = True)
toronto_area_clean.reset_index(drop = True, inplace = True)
toronto_area_clean.dtypes

Ward_ID        object
Area (km^2)    object
dtype: object

In [4]:
toronto_area_clean.astype({'Ward_ID':'int64', 'Area (km^2)':'float64'}).dtypes
print("The shape of 'toronto_area_clean': ", toronto_area_clean.shape)
toronto_area_clean.head()

The shape of 'toronto_area_clean':  (25, 2)

  Ward_ID Area (km^2)
0       1       48.38
1       2       37.36
2       3       40.03
3       4       15.33
4       5       24.98

In [5]:
toronto_loc = pd.read_csv('data/Toronto_Wards_Location.csv')

In [6]:
toronto_loc.columns

Index(['_id', 'AREA_ID', 'DATE_EFFECTIVE', 'DATE_EXPIRY', 'AREA_ATTR_ID',
       'AREA_TYPE_ID', 'PARENT_AREA_ID', 'AREA_TYPE', 'AREA_CLASS_ID',
       'AREA_CLASS', 'AREA_SHORT_CODE', 'AREA_LONG_CODE', 'AREA_NAME',
       'AREA_DESC', 'FEATURE_CODE', 'FEATURE_CODE_DESC', 'TRANS_ID_CREATE',
       'TRANS_ID_EXPIRE', 'X', 'Y', 'LONGITUDE', 'LATITUDE', 'OBJECTID',
       'Shape__Area', 'Shape__Length', 'geometry'],
      dtype='object')

In [7]:
loc_columns = ['AREA_SHORT_CODE', 'LONGITUDE','LATITUDE']
toronto_loc_clean = toronto_loc[loc_columns]
toronto_loc_clean.rename(columns = {'AREA_SHORT_CODE':'Ward_ID', 'LONGITUDE':'Long', 'LATITUDE':'Lat'}, inplace = True)
toronto_loc_clean.dtypes

/Users/michaeltang/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

Ward_ID      int64
Long       float64
Lat        float64
dtype: object

In [8]:
print("The shape of 'toronto_loc_clean': ",toronto_loc_clean.shape)
toronto_loc_clean.head()

The shape of 'toronto_loc_clean':  (25, 3)

   Ward_ID       Long        Lat
0        7 -79.530272  43.750724
1        6 -79.467810  43.752565
2       18 -79.416500  43.776886
3       11 -79.394317  43.671139
4       19 -79.306673  43.689268

In [9]:
toronto_demo = pd.read_excel('data/Toronto_Wards_Demographics_2016.xlsx')

In [10]:
toronto_demo_clean = toronto_demo.drop(list(np.arange(15)))
toronto_demo_clean.set_index('City of Toronto Profiles', inplace = True)
demo_col_int = list(np.arange(26))
toronto_demo_clean.columns = demo_col_int
toronto_demo_clean.index.name = None
toronto_demo_clean = toronto_demo_clean.T
toronto_demo_clean.head(10)

,Population,nan,Total - Age,0 to 4 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 29 years,30 to 34 years,...,Net self-employment income %,Investment income %,Private retirement income %,Market income not included elsewhere %,Government transfers %,Old Age Security pension (OAS) and Guaranteed Income Supplement (GIS) %,Canada Pension Plan (CPP) and QuÚbec Pension Plan (QPP) benefits %,Employment Insurance (EI) benefits %,Child benefits $,Other government transfers %
0,NaN,Toronto,2731570,136000,135025,127110,145525,194750,232945,224575,...,5.1,7.9,5.7,2.7,13.3,3.5,3.1,1.2,3,2.5
1,NaN,Ward 1,118040,6815,7500,7400,8380,9545,8625,7950,...,2,2.1,4.7,1.7,25.8,5.7,4.3,1.9,8,5.9
2,NaN,Ward 2,118020,5230,5905,6080,6840,7335,6530,6470,...,4.2,8.7,9.3,2.6,13.2,3.7,4.6,1,2.2,1.6
3,NaN,Ward 3,129080,6370,5630,4870,5370,7690,10535,11230,...,4.4,6.2,6.2,2.3,10.9,2.9,3.2,1.2,1.7,1.8
4,NaN,Ward 4,108805,5770,5540,4685,4450,5590,9860,11065,...,6.9,5.5,4.6,2.3,9.8,2.4,2.4,1.3,1.8,1.9
5,NaN,Ward 5,116685,6530,6695,6350,7185,7995,8030,8160,...,2.4,3.3,4.4,1.6,23.6,5.5,4.5,1.8,6,5.7
6,NaN,Ward 6,104320,5510,5195,5045,6100,6995,6790,7370,...,5.6,6.8,4.6,2.1,17.4,5,3.8,1.6,3.8,3.2
7,NaN,Ward 7,108035,6575,6895,6615,7450,8985,7985,7280,...,1.8,1.7,3.1,2,29.4,6.5,4.4,2,9,7.6
8,NaN,Ward 8,114395,6300,7025,7155,7340,7155,6650,7035,...,7.5,16.2,5.3,3.6,9.1,2.4,2.6,0.8,1.9,1.4
9,NaN,Ward 9,108470,5020,4460,4000,4360,7305,12530,12485,...,5.9,3.7,2.3,1.9,13.7,3.8,2.8,1.7,2.6,2.8

In [11]:
demo_columns = ['Total - Private households by number of household maintainers - 25% sample data', '  Median total income of households in 2015 ($)']
toronto_demo_clean = toronto_demo_clean[demo_columns]
toronto_demo_clean.reset_index(inplace = True)
toronto_demo_clean.columns = ['Ward_ID', 'Number of Households', 'Income of Households']
toronto_demo_clean.dtypes

Ward_ID                  int64
Number of Households    object
Income of Households    object
dtype: object

In [12]:
toronto_demo_clean.astype('float64').dtypes
print("The shape of 'toronto_demo_clean': ",toronto_demo_clean.shape)
toronto_demo_clean.head()

The shape of 'toronto_demo_clean':  (26, 3)

   Ward_ID Number of Households Income of Households
0        0              1112930                65808
1        1                37895                61169
2        2                45045                82870
3        3                59735                71859
4        4                50315                65546